.add-inputs-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.input {
  margin-top: 15px;
  width: 250px;
  border: none;
  border-bottom: 1px solid;
}

.cardTitle {
  margin-top: 25px;
  color: black;
  text-decoration: underline;
}
